.logo{
  height: 160px;
  width: 160px;
}
header{
  
  position: relative;
  width: 100%;
 background-color: black;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-link{
  text-decoration: none;
  color: white;
}
.header__menu-link:hover{
  color: orange;
  cursor: pointer;
}
.header__menu-list{
  display: flex;
  align-items: center;
 }
 .header__menu-item{
  margin-right: 61px;
  font-size: 23px;
  list-style-type: none; 
  line-height: 60px; 
}
.header__menu-sign-up,.header__menu-sign-in{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  outline:none;
  border-radius: 8px;
  border: 2px solid red;
  padding: 12px 13px;
  }
 .text__button{
  color:white;
  font-size: 25px; 
 }
 .header__menu-sign-in:hover,.header__menu-sign-up:hover{
  background-color:orange ; 
  cursor: pointer;
 }

 .header__menu-sign-in:active,.header__menu-sign-up:active{
  background-color:fuchsia ; 
 }
 .q1{
   background-color: blue;
   width: 25px;
   height: 23px;
 }
 