.footer-bottom {
    background-color: silver;
    padding: 15px 0;
    border-top: 1px solid #313646;
    background-color: blue !important;
    color: #b0b0b0;
    font-family: rubik;
}
.nav-menu{
  display: flex;
}
.row{
  display: flex;
  padding-top: 35px;
  justify-content: space-between;
  
}
.container{
  height: 100px;
  width: 1200px;
}
.menu-item{
  color: white;
  font-size: 25px;
  width: 150px;
  margin-right: 35px;
}
.link{
  text-decoration: none;
  color: white;
}
.footer-site-info{
  color: white;
  margin-right: 35px;
  width: 150px;
  font-size: 25px;
  padding-left: 45px;
}


